<!DOCTYPE html>
<html lang="en-us" ng-app="i2ChainApiTest">
    <head>
        <title>I2Chain API Test</title>
         <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <style>
            html, body
            {
                font-size: 1.1em;
            }
        </style>
        <style>
            body {font-family: Arial;}

            /* Style the tab */
            .tab {
              overflow: hidden;
              border: 1px solid #ccc;
              background-color: #f1f1f1;
            }

            /* Style the buttons inside the tab */
            .tab button {
              background-color: inherit;
              float: left;
              border: none;
              outline: none;
              cursor: pointer;
              padding: 14px 16px;
              transition: 0.3s;
              font-size: 17px;
            }

            /* Change background color of buttons on hover */
            .tab button:hover {
              background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
              background-color: #ccc;
            }

            /* Style the tab content */
            .tabcontent {
              display: none;
              padding: 6px 12px;
              border: 1px solid #ccc;
              border-top: none;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    </head>
    <body ng-controller="MainController as vm">
        <header>
            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">{{vm.message}}</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                </ul>
            </div>
            </nav>
        </header>
        <div class="container">
            <p>Click on the buttons inside the tabbed menu:</p>
            <div class="tab">
             <button class="tablinks" onclick="openAdminuser(event, 'ActivateById')">ActivateById</button>
              <button class="tablinks" onclick="openAdminuser(event, 'ChangePassword')">ChangePassword</button>
              <button class="tablinks" onclick="openAdminuser(event, 'ForgotPassword')">ForgotPassword</button>
            </div>

            <div id="ActivateById" class="tabcontent">
              <form name="form1_activateById" action="/adminuser" method="post">
                <p>Enter UserId:<input name="userId" type="text" required/>
                 <button type="submit" class="btn btn-default">Activate</button>  
              </form>
            </div>

            <div id="ChangePassword" class="tabcontent">
              <form name="form1_chgpassword" action="/adminuser" method="post">
                <p>Enter UserId:<input name="userIdPwd" type="text" required/>
                <p>Enter Password:<input name="pwd" type="password" required/>
                 <button type="submit" class="btn btn-default">Change Password</button>  
              </form>
            </div>

            <div id="ForgotPassword" class="tabcontent">
              <form name="form1_withId" action="/adminuser" method="post">
                <p>Enter UserID:<input name="userIdFrgPwd" type="text" required/>
                 <button type="submit" class="btn btn-default">Forgot Password</button>  
              </form>
            </div>
        </div>
    </body>
    <script>
        var clientMessage =  <%- JSON.stringify(serverMessage) %>
    </script>
    <script>
        function openAdminuser(evt, criteriaName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(criteriaName).style.display = "block";
          evt.currentTarget.className += " active";
        }
    </script>
    <script src="/assets/js/app.js"></script>
</html>