<!DOCTYPE html>
<html lang="en-us" ng-app="i2ChainApiTest">
	<head>
		<title>I2Chain API Test</title>
		 <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <style>
            html, body
            {
                font-size: 1.1em;
            }
        </style>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
	</head>
	<body ng-controller="MainController as vm">
		<header>
            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">{{vm.message}}</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                </ul>
            </div>
            </nav>
        </header>
        <div class="container">
            <form name="form1" action="/login" method="post">
                <p>Enter Username:<input name="username" type="text" required/>
                <p>Enter Password:<input name="password" type="password" required/> 
                 <button type="submit" class="btn btn-default">Login</butto   
            </div>
        </div>
    </body>
    <script>
        var clientMessage =  <%- JSON.stringify(serverMessage) %>
    </script>
    <script src="/assets/js/app.js"></script>